// app global css in SCSS form

body {
  background-color: #36384d !important;
}

.button-form {
  background-color: #232741;
}
.button-form:hover {
  background: linear-gradient(to right, #ff5476, #ff6742);
  box-shadow: 0px 15px 8px rgba(232, 91, 91, 0.3);
}

.text-sucess {
  color: #232744;
}
